<template>
  <!--<script src="//ajax.googleapis.com/ajax/libs/dojo/1.11.3/dojo/dojo.js"></script>-->
  <style>
    html {
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
    }

    k-grid td {
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      padding: 0.1em 0.1em;
      max-width: 250px;
    }

    .k-grid-content td {
      height: 42px;
    }

    .k-grid .ra,
    .k-grid tbody tr {
      height: 36px;
    }

    .k-numerictextbox .k-input {
      text-align: right;
    }

 
			.k-edit-form-container {
				position: relative;
				width: 660px;
			}
			/* .k-autocomplete.k-header {
				width: 350px;
			} */

			.k-dropdown {
				width: 350px;
			}
		</style>

		<script>
			excelExport:
                        function (e) {

                            var sheet = e.workbook.sheets[0];
                            var template = kendo.template(this.columns[8].template);

                            for (var i = 1; i < sheet.rows.length; i++) {
                                var row = sheet.rows[i];

                                let diff = row.cells[6].value - row.cells[7].value
                                row.cells.push({ 'value': diff })
                            }
                        }
		</script>

  <require from="./about.css"></require>
  <div class="container-fluid">
    <br>
    <ul>
      <li class="k-state-active">BB Scan Workflow</li>
    </ul>
    <div>
      <section>

        <h4>Scan Search 1.0.1 May 11 2019</h4>


        <div class="col-sm-12">
          <div class="col-sm-2">
            <button type="button" id="textButton" ak-button k-on-click.delegate="refreshGrid()">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh Grid
            </button>
          </div>
          <div class="col-sm-2">
            <button type="button" id="textButton" ak-button k-on-click.delegate="filterStaff()">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Filter Staff to ${toggleStaff}
            </button>
          </div>


          <div class="col-sm-2">
            <button type="button" id="textButton" ak-button k-on-click.delegate="filterqFax()">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Filter WC-QF
            </button>
          </div>
          <div class="col-sm-2">
            <button type="button" id="textButton" ak-button k-on-click.delegate="filterFROI()">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Filter FROI
            </button>
          </div>
       


          <div class="col-sm-3" style="display:${displayoption}">


            <input style="color:blue;width:105px" type="text" value.bind="contentsearch" id="contentsearch"
              placeholder="contentsearch">

            <button type="button" class="btn btn-default" ak-button k-on-click.delegate="findcontents()">

              <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button> &nbsp;&nbsp; completed:

          </div>
          <div class="col-sm-1" style="display:${displayoption}">

            <ak-combobox k-value.two-way="competed">
              <select style="width: 75px;">
                <option>all</option>
                <option>true</option>
                <option>false</option>

              </select>
            </ak-combobox>
          </div>
        </div>
        ${selectedids}

        <div class="col-sm-12">
          <script>
            excelExport:
              function (e) {

                var sheet = e.workbook.sheets[0];
                var template = kendo.template(this.columns[8].template);

                for (var i = 1; i < sheet.rows.length; i++) {
                  var row = sheet.rows[i];

                  let diff = row.cells[6].value - row.cells[7].value
                  row.cells.push({
                    'value': diff
                  })
                }
              }

          </script>

          <!--admin1: ${user.Admin}
                    <p>support 3-30 https://gist.run/?id=b1073212f93579f31b75489235f7b6ef
                    my gist https://gist.run/?id=b1073212f93579f31b75489235f7b6ef</p>-->
          <!--<div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="text" value.bind="search" class="validate">
                        </div>
                    </div>-->
          <!--k-on-change.delegate="rowSelected($event.detail)" -->
          <!--k-resizable.bind="true" k-column-menu.bind="true" k-selectable="[row,multiple]" k-pageable.bind="pageable"-->

          <div class="row">
            <!-- <div class="col-sm-12"> -->
                <!-- <ak-grid class="flex-row-1 overflow-y-auto" id="grid" k-data-source.bind="dataSource" k-widget.bind="grid"
                k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}" k-editable="inline"
                k-reorderable.bind="true" k-groupable.bind="true" k-resizable.bind="true" k-selectable="[row,multiple]"
                k-on-edit.delegate="onEdit($event.detail)" k-on-data-bound.delegate="onDataBound($event.detail)"
                k-on-change.delegate="rowSelected($event.detail)" k-column-menu.bind="true" k-pageable.bind="true">
                <ak-col k-width="180px" k-title="command" click.delegate='onEdit($event)'
                k-command.bind="['edit']" k-title="&nbsp;" k-locked.bind="true" k-lockable.bind="false"></ak-col> -->


	<ak-grid class="flex-row-1" id="grid" k-data-source.bind="dataSource" k-widget.bind="grid" k-sortable.bind="{ mode: 'multiple',   allowUnsort: 'true'}"
		 k-filterable.bind="{  mode: 'row' }" k-reorderable.bind="true" k-groupable.bind="true" k-resizable.bind="true" k-selectable="row"
		 k-on-change.delegate="rowSelected($event.detail)" k-column-menu.bind="true" k-pageable.bind="true" k-on-edit.delegate="onEdit($event.detail)"
		 k-editable="popup" k-selectable="[row]" k-toolbar.bind="['excel']" k-excel.bind="{ fileName: 'mailflow.xlsx' }">
		    <ak-col k-width="180px" k-title="command" click.delegate='onEdit($event)'
                k-command.bind="['edit']" k-title="&nbsp;" k-locked.bind="true" k-lockable.bind="false"></ak-col> -->


                <ak-col k-title="BCSNumber" k-field="BCSNumber" k-width="120px"
                  k-filterable.bind="{cell: { operator: 'startswith' }}"></ak-col>

                <ak-col k-title="doctype" k-width="120px" k-field="doctype"
                  k-filterable.bind="{cell: { operator: 'startswith' }}">
                </ak-col>
                <ak-col k-title="fileName" k-width="140px" k-field="fileName"
                  k-filterable.bind="{cell: { operator: 'startswith' }}">
                </ak-col>
                <ak-col k-field="filename" k-filterable.bind="true" k-title="`   Open" k-width.bind="160"
                k-template="<button click.delegate='details($event)' class='k-button'>#=BCSNumber#</button>">
            </ak-col>
            
            <!-- <ak-col k-title="download" k-editor.bind="nonEditor" k-width="120px" k-field="filename" k-filterable.bind="false" k-template="http://jif.bergenrisk.com:8080/api/v1/downloadonepdf/#=template#/#=filename#.pdf">
            </ak-col> -->
            <ak-col k-title="InvNumber" k-width="100px" k-field="InvNumber"
            k-filterable.bind="{cell: { operator: 'startswith' }}">
          </ak-col>
          <ak-col k-title="DOBNum" k-width="100px" k-field="DOBNum"
                  k-filterable.bind="{cell: { operator: 'startswith' }}">
                </ak-col>
                <ak-col k-title="CheckNum" k-width="100px" k-field="CheckNum"
                  k-filterable.bind="{cell: { operator: 'startswith' }}">
                </ak-col>
                <ak-col k-title="ProjectStatus" k-width="100px" k-field="ProjectStatus"
                  k-filterable.bind="{cell: { operator: 'startswith' }}">
                </ak-col>
                <ak-col k-title="Time" k-width="100px" k-field="Time"
                  k-filterable.bind="{cell: { operator: 'startswith' }}">
                </ak-col>
               
    

              </ak-grid>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</template>

<!--<ak-col k-title="Pdf Link" k-editor.bind="nonEditor" k-width="160px" k-field="filename"
                                                k-template="http://jif.bergenrisk.com:8080/api/v1/onepdf/#=template#/#=filename#.pdf">
                                                </ak-col>

                                                <ak-col k-title="download" k-editor.bind="nonEditor" k-width="120px" k-field="filename" k-filterable.bind="false" k-template="http://jif.bergenrisk.com:8080/api/v1/downloadonepdf/#=template#/#=filename#.pdf">
                                                </ak-col>
                                             -->

<!--<ak-col k-title="Pdf #" k-editor.bind="nonEditor" k-attributes.bind='{ class: "text-right" }' type="number" k-width="150px"
                                    k-field="filename"></ak-col>-->
<!--<ak-col k-title="Open Pdf" k-width.bind="90">
                                    <ak-grid-command k-name="Open Pdf" k-text="Open" k-click.call="details($event)"></ak-grid-command>
                                </ak-col>-->

<!--<ak-col k-title="workername2"  k-field="workername2()" ></ak-col>-->
<!--<ak-col k-title="savedamt"  k-width="150px" k-field="savedamt()" attributes='{ class: "text-right" }'
type="number" format="{0:c2}"></ak-col>-->


<!--<ak-col k-title="payamt" k-editor.bind="editorCheck" k-width="150px" k-field="payamt" attributes='{ class: "text-right" }'
type="number" format="{0:c2}"></ak-col>
<ak-col k-title="billedamt" k-editor.bind="editorCheck" k-width="150px" k-field="billedamt" attributes='{ class: "text-right" }'
type="number" format="{0:c2}"></ak-col>
<ak-col k-title="saved" k-editor.bind="nonEditor" k-width="150px" attributes='{ class: "text-right" }' type="number" format="{0:c2}">
<ak-template>
${billedamt-payamt}
</ak-template>

</ak-col>-->
<!--<ak-col k-title="completed" k-editor.bind="editorCheckbox" k-field="completed" k-width="165px"></ak-col>-->
